html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding 0;
    background: #fff;
    color: #222;
    display: block;
    font-size: small;
}

ul {
    list-style: none;
}

li {
    display: inline;
    line-height: 15px;
}

body, td, a, p, .h {
    font-family: arial,sans-serif;
}

.topnav {
    top: 16px;
    position: relative;
    font-size: 13px;
    padding-top: 10px;
}

div {
    display: block;
}

div #viewport {
    position: absolute;
    top: 0;
    width: 100%;
}

#viewport {
    min-height: 100%;
}

#logo {
    align-self: center;
}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}