html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding 0;
    background: #fff;
    color: #222;
    display: block;
    font-size: small;
    font-family: arial,sans-serif;
}

#topnav {
    top: 0;
    position: relative;
    font-size: 13px !important;
    padding-top: 10px;
    margin-left: 15px;
    opacity: 0.75
}

.tbar {
    padding-left: 0px 0px 0px 15px;
    
}

.topleft {
    float: left;
    padding-left: 15px;
}

.topright {
    float: right;
    padding-left: 15px;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    line-height: 15px;
    font-size: 14px;
    line-height: 15px;
    cursor: pointer;
    
}

li :hover {
    text-decoration: underline;
}

main {
    text-align: center;
    position: relative;
}

div {
    display: block;
}

#logo {
    position: relative;
    margin: 47px 47px 0px 47px;
    padding-bottom: 35px;
}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: space-around;
  width: fit-content;
}

.searchbar {
    position: relative;
    display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: space-around;
  width: 40%;
  height: 45px;
  border-radius: 25px;
  opacity: 40%;  
}

.searchbar :hover {
    box-shadow: darkgrey;
}

.button {
    cursor: pointer;
    display: inline;
    padding-left: 30px;
    background-color: #f3f3f3 !important;
    border: none;
    align-items: center;
}

#gsearch, #lsearch {
    position: relative;
    border: none;
    display: inline-block;
    text-align: center;
    text-justify: auto;
}

input :hover {
    border: 1px solid #999696;
  }

#footnav {
    background-color: #f3f3f3 !important;
    border-top: 1px solid #e4e4e4;
    width: 100%;
    line-height: 40px;
    position: relative
}

.fbar {
    position: fixed;
}

.footleft {
    padding-left: 27px;

}

.footright {
    padding-left: 27px;

}